<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 color=blue >Index Template!!!!!!!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam accusantium eius modi magnam veritatis quas tempora, illum eveniet et enim magni, iure libero quam qui porro atque repudiandae dolorem quidem?</p>

    <footer>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempora molestiae odio ducimus similique pariatur accusantium, voluptatibus aspernatur suscipit vel nihil eum quaerat quo tenetur ex non a nemo officia!</footer>
</body>
</html>